<!DOCTYPE html>
<html>

<head>
    <title>Mr.Table</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../Resources/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body onresize=responsive() onload=responsive()>
    <div id="Master_DIV_ID" class="Master_DIV_Class">
        <div id="Left_DIV_ID" class="Left_DIV_Class">
            <!--------------------------------------------------------------------------->

            <table id="Bar_Sector_ID" class="Bar_Sector_Class">
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_Title_ID" class="Bar_Data_Class" colspan="6">
                        Bar
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_0_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_1_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_2_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_3_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_4_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_5_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_6_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_7_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_8_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_9_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_10_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_11_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_12_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_13_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_14_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_15_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_16_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_17_ID" class="Bar_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_18_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_19_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_20_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_21_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_22_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_23_ID" class="Bar_Data_Class">
                        12
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->

            <table id="SunDown_Sector_ID" class="SunDown_Sector_Class">
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_Title_ID" class="SunDown_Data_Class" colspan="6">
                        Sun Down
                    </td>
                </tr>
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_0_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_1_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_2_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_3_ID" class="SunDown_Data_Class">
                        6
                    </td>
                    <td id="SunDown_4_ID" class="SunDown_Data_Class">
                        8
                    </td>
                    <td id="SunDown_5_ID" class="SunDown_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_6_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_7_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_8_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_9_ID" class="SunDown_Data_Class">
                        6
                    </td>
                    <td id="SunDown_10_ID" class="SunDown_Data_Class">
                        8
                    </td>
                    <td id="SunDown_11_ID" class="SunDown_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_12_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_13_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_14_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_15_ID" class="SunDown_Data_Class">
                        6
                    </td>
                    <td id="SunDown_16_ID" class="SunDown_Data_Class">
                        8
                    </td>
                    <td id="SunDown_17_ID" class="SunDown_Data_Class">
                        11
                    </td>
                </tr>
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_18_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_19_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_20_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_21_ID" class="SunDown_Data_Class">
                        6
                    </td>
                    <td id="SunDown_22_ID" class="SunDown_Data_Class">
                        10
                    </td>
                    <td id="SunDown_23_ID" class="SunDown_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="SunDown_Row_ID" class="SunDown_Row_Class">
                    <td id="SunDown_24_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_25_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_26_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_27_ID" class="SunDown_Data_Class">
                        4
                    </td>
                    <td id="SunDown_28_ID" class="SunDown_Data_Class">
                        10
                    </td>
                    <td id="SunDown_29_ID" class="SunDown_Data_Class">
                        14
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->
            <table id="SunUp_Sector_ID" class="SunUp_Sector_Class">
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_Title_ID" class="SunUp_Data_Class" colspan="6">
                        Sun Up
                    </td>
                </tr>
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_0_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_1_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_2_ID" class="SunUp_Data_Class">
                        5
                    </td>
                    <td id="SunUp_3_ID" class="SunUp_Data_Class">
                        6
                    </td>
                    <td id="SunUp_4_ID" class="SunUp_Data_Class">
                        8
                    </td>
                    <td id="SunUp_5_ID" class="SunUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_6_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_7_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_8_ID" class="SunUp_Data_Class">
                        5
                    </td>
                    <td id="SunUp_9_ID" class="SunUp_Data_Class">
                        6
                    </td>
                    <td id="SunUp_10_ID" class="SunUp_Data_Class">
                        8
                    </td>
                    <td id="SunUp_11_ID" class="SunUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_12_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_13_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_14_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_15_ID" class="SunUp_Data_Class">
                        6
                    </td>
                    <td id="SunUp_16_ID" class="SunUp_Data_Class">
                        8
                    </td>
                    <td id="SunUp_17_ID" class="SunUp_Data_Class">
                        11
                    </td>
                </tr>
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_18_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_19_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_20_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_21_ID" class="SunUp_Data_Class">
                        6
                    </td>
                    <td id="SunUp_22_ID" class="SunUp_Data_Class">
                        10
                    </td>
                    <td id="SunUp_23_ID" class="SunUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="SunUp_Row_ID" class="SunUp_Row_Class">
                    <td id="SunUp_24_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_25_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_26_ID" class="SunUp_Data_Class">
                        4
                    </td>
                    <td id="SunUp_27_ID" class="SunUp_Data_Class">
                        6
                    </td>
                    <td id="SunUp_28_ID" class="SunUp_Data_Class">
                        10
                    </td>
                    <td id="SunUp_29_ID" class="SunUp_Data_Class">
                        10
                    </td>
                </tr>



            </table>



            <table id="StarDown_Sector_ID" class="StarDown_Sector_Class">
                <tr id="StarDown_Row_ID" class="StarDown_Row_Class">
                    <td id="StarDown_Title_ID" class="StarDown_Data_Class" colspan="6">
                        Star Down
                    </td>
                </tr>
                <tr id="StarDown_Row_ID" class="StarDown_Row_Class">
                    <td id="StarDown_0_ID" class="StarDown_Data_Class">
                        2
                    </td>
                    <td id="StarDown_1_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_2_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_3_ID" class="StarDown_Data_Class">
                        6
                    </td>
                    <td id="StarDown_4_ID" class="StarDown_Data_Class">
                        8
                    </td>
                    <td id="StarDown_5_ID" class="StarDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="StarDown_Row_ID" class="StarDown_Row_Class">
                    <td id="StarDown_6_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_7_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_8_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_9_ID" class="StarDown_Data_Class">
                        6
                    </td>
                    <td id="StarDown_10_ID" class="StarDown_Data_Class">
                        8
                    </td>
                    <td id="StarDown_11_ID" class="StarDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="StarDown_Row_ID" class="StarDown_Row_Class">
                    <td id="StarDown_12_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_13_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_14_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_15_ID" class="StarDown_Data_Class">
                        6
                    </td>
                    <td id="StarDown_16_ID" class="StarDown_Data_Class">
                        10
                    </td>
                    <td id="StarDown_17_ID" class="StarDown_Data_Class">
                        10
                    </td>

                </tr>
                <tr id="StarDown_Row_ID" class="StarDown_Row_Class">
                    <td id="StarDown_18_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_19_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_20_ID" class="StarDown_Data_Class">
                        4
                    </td>
                    <td id="StarDown_21_ID" class="StarDown_Data_Class">
                        6
                    </td>
                    <td id="StarDown_22_ID" class="StarDown_Data_Class">
                        10
                    </td>
                    <td id="StarDown_23_ID" class="StarDown_Data_Class">
                        11
                    </td>

                </tr>
            </table>

            <!--------------------------------------------------------------------------->

            <table id="StarUp_Sector_ID" class="StarUp_Sector_Class">
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_Title_ID" class="StarUp_Data_Class" colspan="6">
                        Star Up
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_0_ID" class="StarUp_Data_Class">
                        2
                    </td>
                    <td id="StarUp_1_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_2_ID" class="StarUp_Data_Class">
                        5
                    </td>
                    <td id="StarUp_3_ID" class="StarUp_Data_Class">
                        6
                    </td>
                    <td id="StarUp_4_ID" class="StarUp_Data_Class">
                        8
                    </td>
                    <td id="StarUp_5_ID" class="StarUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_6_ID" class="StarUp_Data_Class">
                        2
                    </td>
                    <td id="StarUp_7_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_8_ID" class="StarUp_Data_Class">
                        5
                    </td>
                    <td id="StarUp_9_ID" class="StarUp_Data_Class">
                        6
                    </td>
                    <td id="StarUp_10_ID" class="StarUp_Data_Class">
                        8
                    </td>
                    <td id="StarUp_11_ID" class="StarUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_12_ID" class="StarUp_Data_Class">
                        5
                    </td>
                    <td id="StarUp_13_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_14_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_15_ID" class="StarUp_Data_Class">
                        6
                    </td>
                    <td id="StarUp_16_ID" class="StarUp_Data_Class">
                        8
                    </td>
                    <td id="StarUp_17_ID" class="StarUp_Data_Class">
                        11
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_18_ID" class="StarUp_Data_Class">
                        5
                    </td>
                    <td id="StarUp_19_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_20_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_21_ID" class="StarUp_Data_Class">
                        6
                    </td>
                    <td id="StarUp_22_ID" class="StarUp_Data_Class">
                        10
                    </td>
                    <td id="StarUp_23_ID" class="StarUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_24_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_25_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_26_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_27_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_28_ID" class="StarUp_Data_Class">
                        10
                    </td>
                    <td id="StarUp_29_ID" class="StarUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="StarUp_Row_ID" class="StarUp_Row_Class">
                    <td id="StarUp_30_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_31_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_32_ID" class="StarUp_Data_Class">
                        4
                    </td>
                    <td id="StarUp_33_ID" class="StarUp_Data_Class">
                        7
                    </td>
                    <td id="StarUp_34_ID" class="StarUp_Data_Class">
                        7
                    </td>
                    <td id="StarUp_35_ID" class="StarUp_Data_Class">
                        7
                    </td>
                </tr>
            </table>

            <table id="CaptainDown_Sector_ID" class="CaptainDown_Sector_Class">
                <tr id="CaptainDown_Row_ID" class="CaptainDown_Row_Class">
                    <td id="CaptainDown_Title_ID" class="CaptainDown_Data_Class" colspan="6">
                        Captain Down
                    </td>
                </tr>
                <tr id="CaptainDown_Row_ID" class="CaptainDown_Row_Class">
                    <td id="CaptainDown_0_ID" class="CaptainDown_Data_Class">
                        2
                    </td>
                    <td id="CaptainDown_1_ID" class="CaptainDown_Data_Class">
                        3
                    </td>
                    <td id="CaptainDown_2_ID" class="CaptainDown_Data_Class">
                        4
                    </td>
                    <td id="CaptainDown_3_ID" class="CaptainDown_Data_Class">
                        8
                    </td>
                    <td id="CaptainDown_4_ID" class="CaptainDown_Data_Class">
                        9
                    </td>
                    <td id="CaptainDown_5_ID" class="CaptainDown_Data_Class">
                        9
                    </td>
                </tr>
                <tr id="CaptainDown_Row_ID" class="CaptainDown_Row_Class">
                    <td id="CaptainDown_6_ID" class="CaptainDown_Data_Class">
                        2
                    </td>
                    <td id="CaptainDown_7_ID" class="CaptainDown_Data_Class">
                        3
                    </td>
                    <td id="CaptainDown_8_ID" class="CaptainDown_Data_Class">
                        4
                    </td>
                    <td id="CaptainDown_9_ID" class="CaptainDown_Data_Class">
                        8
                    </td>
                    <td id="CaptainDown_10_ID" class="CaptainDown_Data_Class">
                        8
                    </td>
                    <td id="CaptainDown_11_ID" class="CaptainDown_Data_Class">
                        9
                    </td>
                </tr>
            </table>

            <!--------------------------------------------------------------------------->


            <table id="CaptainUp_Sector_ID" class="CaptainUp_Sector_Class">
                <tr id="CaptainUp_Row_ID" class="CaptainUp_Row_Class">
                    <td id="CaptainUp_Title_ID" class="CaptainUp_Data_Class" colspan="6">
                        Captain Up
                    </td>
                </tr>
                <tr id="CaptainUp_Row_ID" class="CaptainUp_Row_Class">
                    <td id="CaptainUp_0_ID" class="CaptainUp_Data_Class">
                        2
                    </td>
                    <td id="CaptainUp_1_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_2_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_3_ID" class="CaptainUp_Data_Class">
                        8
                    </td>
                    <td id="CaptainUp_4_ID" class="CaptainUp_Data_Class">
                        10
                    </td>
                    <td id="CaptainUp_5_ID" class="CaptainUp_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="CaptainUp_Row_ID" class="CaptainUp_Row_Class">
                    <td id="CaptainUp_6_ID" class="CaptainUp_Data_Class">
                        6
                    </td>
                    <td id="CaptainUp_7_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_8_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_9_ID" class="CaptainUp_Data_Class">
                        8
                    </td>
                    <td id="CaptainUp_10_ID" class="CaptainUp_Data_Class">
                        10
                    </td>
                    <td id="CaptainUp_11_ID" class="CaptainUp_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="CaptainUp_Row_ID" class="CaptainUp_Row_Class">
                    <td id="CaptainUp_12_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_13_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_14_ID" class="CaptainUp_Data_Class">
                        4
                    </td>
                    <td id="CaptainUp_15_ID" class="CaptainUp_Data_Class">
                        6
                    </td>
                    <td id="CaptainUp_16_ID" class="CaptainUp_Data_Class">
                        6
                    </td>
                    <td id="CaptainUp_17_ID" class="CaptainUp_Data_Class">
                        6
                    </td>
                </tr>
            </table>


            <!--------------------------------------------------------------------------->
        </div>
        <div id="Right_DIV_ID" class="Right_DIV_Class">
            <!--------------------------------------------------------------------------->

            <!--------------------------------------------------------------------------->

            <table id="PortDown_Sector_ID" class="PortDown_Sector_Class">
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_Title_ID" class="PortDown_Data_Class" colspan="6">
                        Port Down
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_0_ID" class="PortDown_Data_Class">
                        2
                    </td>
                    <td id="PortDown_1_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_2_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_3_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_4_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_5_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_6_ID" class="PortDown_Data_Class">
                        2
                    </td>
                    <td id="PortDown_7_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_8_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_9_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_10_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_11_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_12_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_13_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_14_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_15_ID" class="PortDown_Data_Class">
                        7
                    </td>
                    <td id="PortDown_16_ID" class="PortDown_Data_Class">
                        7
                    </td>
                    <td id="PortDown_17_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>

                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_18_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_19_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_20_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_21_ID" class="PortDown_Data_Class">
                        9
                    </td>
                    <td id="PortDown_22_ID" class="PortDown_Data_Class">
                        9
                    </td>
                    <td id="PortDown_23_ID" class="PortDown_Data_Class">
                        9
                    </td>
                </tr>

            </table>
            <!--------------------------------------------------------------------------->
            <table id="PortUp_Sector_ID" class="PortUp_Sector_Class">
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_Title_ID" class="PortUp_Data_Class" colspan="6">
                        Port Up
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_0_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_1_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_2_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_3_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_4_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_5_ID" class="PortUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_6_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_7_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_8_ID" class="PortUp_Data_Class">
                        5
                    </td>
                    <td id="PortUp_9_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_10_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_11_ID" class="PortUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_12_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_13_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_14_ID" class="PortUp_Data_Class">
                        5
                    </td>
                    <td id="PortUp_15_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_16_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_17_ID" class="PortUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_18_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_19_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_20_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_21_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_22_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_23_ID" class="PortUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_24_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_25_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_26_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_27_ID" class="PortUp_Data_Class">
                        7
                    </td>
                    <td id="PortUp_28_ID" class="PortUp_Data_Class">
                        7
                    </td>
                    <td id="PortUp_29_ID" class="PortUp_Data_Class">
                        10
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->
            <table id="LibertyDown_Sector_ID" class="LibertyDown_Sector_Class">
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_Title_ID" class="LibertyDown_Data_Class" colspan="6">
                        Liberty Down
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_0_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_1_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_2_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_3_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_4_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_5_ID" class="LibertyDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_6_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_7_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_8_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_9_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_10_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_11_ID" class="LibertyDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_12_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_13_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_14_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_15_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_16_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_17_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_18_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_19_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_20_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_21_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_22_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_23_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_24_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_25_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_26_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_27_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_28_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_29_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_30_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_31_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_32_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_33_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_34_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_35_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->
            <table id="LibertyUp_Sector_ID" class="LibertyUp_Sector_Class">
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_Title_ID" class="LibertyUp_Data_Class" colspan="6">
                        Liberty Up
                    </td>
                </tr>
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_0_ID" class="LibertyUp_Data_Class">
                        2
                    </td>
                    <td id="LibertyUp_1_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_2_ID" class="LibertyUp_Data_Class">
                        5
                    </td>
                    <td id="LibertyUp_3_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_4_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_5_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_6_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_7_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_8_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_9_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_10_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_11_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_12_ID" class="LibertyUp_Data_Class">
                        5
                    </td>
                    <td id="LibertyUp_13_ID" class="LibertyUp_Data_Class">
                        5
                    </td>
                    <td id="LibertyUp_14_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                    <td id="LibertyUp_15_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                    <td id="LibertyUp_16_ID" class="LibertyUp_Data_Class">
                        10
                    </td>
                    <td id="LibertyUp_17_ID" class="LibertyUp_Data_Class">
                        10
                    </td>
                </tr>
            </table>



            <!--------------------------------------------------------------------------->

            <!--------------------------------------------------------------------------->


            <table id="DockDown_Sector_ID" class="DockDown_Sector_Class">
                <tr id="DockDown_Row_ID" class="DockDown_Row_Class">
                    <td id="DockDown_Title_ID" class="DockDown_Data_Class" colspan="6">
                        Dock Down
                    </td>
                </tr>
                <tr id="DockDown_Row_ID" class="DockDown_Row_Class">
                    <td id="DockDown_0_ID" class="DockDown_Data_Class">
                        9
                    </td>
                    <td id="DockDown_1_ID" class="DockDown_Data_Class">
                        9
                    </td>

                </tr>

            </table>



            <table id="DockUp_Sector_ID" class="DockUp_Sector_Class">
                <tr id="DockUp_Row_ID" class="DockUp_Row_Class">
                    <td id="DockUp_Title_ID" class="DockUp_Data_Class" colspan="6">
                        Dock Up
                    </td>
                </tr>
                <tr id="DockUp_Row_ID" class="DockUp_Row_Class">
                    <td id="DockUp_0_ID" class="DockUp_Data_Class">
                        2
                    </td>
                    <td id="DockUp_1_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_2_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_3_ID" class="DockUp_Data_Class">
                        8
                    </td>
                    <td id="DockUp_4_ID" class="DockUp_Data_Class">
                        10
                    </td>
                    <td id="DockUp_5_ID" class="DockUp_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="DockUp_Row_ID" class="DockUp_Row_Class">
                    <td id="DockUp_6_ID" class="DockUp_Data_Class">
                        6
                    </td>
                    <td id="DockUp_7_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_8_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_9_ID" class="DockUp_Data_Class">
                        8
                    </td>
                    <td id="DockUp_10_ID" class="DockUp_Data_Class">
                        10
                    </td>
                    <td id="DockUp_11_ID" class="DockUp_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="DockUp_Row_ID" class="DockUp_Row_Class">
                    <td id="DockUp_12_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_13_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_14_ID" class="DockUp_Data_Class">
                        4
                    </td>
                    <td id="DockUp_15_ID" class="DockUp_Data_Class">
                        6
                    </td>
                    <td id="DockUp_16_ID" class="DockUp_Data_Class">
                        6
                    </td>
                    <td id="DockUp_17_ID" class="DockUp_Data_Class">
                        6
                    </td>
                </tr>
            </table>

            <!--------------------------------------------------------------------------->


            <table id="Neptune_Sector_ID" class="Neptune_Sector_Class">
                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_Title_ID" class="Neptune_Data_Class" colspan="6">
                        Neptune
                    </td>
                </tr>
                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_0_ID" class="Neptune_Data_Class">
                        2
                    </td>
                    <td id="Neptune_1_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_2_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_3_ID" class="Neptune_Data_Class">
                        7
                    </td>
                    <td id="Neptune_4_ID" class="Neptune_Data_Class">
                        8
                    </td>
                    <td id="Neptune_5_ID" class="Neptune_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_6_ID" class="Neptune_Data_Class">
                        4
                    </td>
                    <td id="Neptune_7_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_8_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_9_ID" class="Neptune_Data_Class">
                        7
                    </td>
                    <td id="Neptune_10_ID" class="Neptune_Data_Class">
                        8
                    </td>
                    <td id="Neptune_11_ID" class="Neptune_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_12_ID" class="Neptune_Data_Class">
                        4
                    </td>
                    <td id="Neptune_13_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_14_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_15_ID" class="Neptune_Data_Class">
                        7
                    </td>
                    <td id="Neptune_16_ID" class="Neptune_Data_Class">
                        9
                    </td>
                    <td id="Neptune_17_ID" class="Neptune_Data_Class">
                        10
                    </td>
                </tr>

                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_18_ID" class="Neptune_Data_Class">
                        4
                    </td>
                    <td id="Neptune_19_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_20_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_21_ID" class="Neptune_Data_Class">
                        7
                    </td>
                    <td id="Neptune_22_ID" class="Neptune_Data_Class">
                        9
                    </td>
                    <td id="Neptune_23_ID" class="Neptune_Data_Class">
                        12
                    </td>
                </tr>

                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_24_ID" class="Neptune_Data_Class">
                        4
                    </td>
                    <td id="Neptune_25_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_26_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_27_ID" class="Neptune_Data_Class">
                        8
                    </td>
                    <td id="Neptune_28_ID" class="Neptune_Data_Class">
                        9
                    </td>
                    <td id="Neptune_29_ID" class="Neptune_Data_Class">
                        14
                    </td>
                </tr>

                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_30_ID" class="Neptune_Data_Class">
                        4
                    </td>
                    <td id="Neptune_31_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_32_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_33_ID" class="Neptune_Data_Class">
                        8
                    </td>
                    <td id="Neptune_34_ID" class="Neptune_Data_Class">
                        10
                    </td>
                    <td id="Neptune_35_ID" class="Neptune_Data_Class">
                        14
                    </td>
                </tr>

                <tr id="Neptune_Row_ID" class="Neptune_Row_Class">
                    <td id="Neptune_36_ID" class="Neptune_Data_Class">
                        6
                    </td>
                    <td id="Neptune_37_ID" class="Neptune_Data_Class">
                        8
                    </td>
                    <td id="Neptune_38_ID" class="Neptune_Data_Class">
                        10
                    </td>
                    <td id="Neptune_39_ID" class="Neptune_Data_Class">
                        10
                    </td>
                    <td id="Neptune_40_ID" class="Neptune_Data_Class">
                        11
                    </td>
                    <td id="Neptune_41_ID" class="Neptune_Data_Class">
                        12
                    </td>
                </tr>

                <tr style="text-align: center" ;>
                    <td>Captain George</td>
                </tr>



            </table>

            <!--------------------------------------------------------------------------->




        </div>


       
        <!--
        <div id="Bottom_DIV_ID" class="Bottom_DIV_Class">

            <div id="Reset_Button_ID" class="Reset_Button_Class">
                Reset
            </div>
    
        </div>

        -->














    </div>
</body>

</html>