.Master_DIV_Class {
    background-color: ivory;
}
.Left_DIV_Class {
    background-color: ivory;
}
.Right_DIV_Class {
    background-color: ivory;
}
.Bottom_DIV_Class {
    background-color: ivory;
}
.Reset_Button_Class {
    background-color: ivory;
}
/*-----------------------------------------*/
.Bar_Sector_Class {
    border-collapse: collapse;
    border: 2px red solid;
}
.Bar_Row_Class {
    border-collapse: collapse;
    border: 2px red solid;
}
.Bar_Data_Class {
    border-collapse: collapse;
    border: 2px red solid;
}
/*-----------------------------------------*/