<!DOCTYPE html>
<html>

<head>
    <title>Mr.Table</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../Resources/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body onresize=onResize() onload=onResize()>
    <div id="Master_DIV_ID" class="Master_DIV_Class">
        <div id="Left_DIV_ID" class="Left_DIV_Class">
            <!--------------------------------------------------------------------------->
            <table id="Bar_Sector_ID" class="Bar_Sector_Class">
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_Title_ID" class="Bar_Data_Class" colspan="6">
                        Bar
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_0_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_1_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_2_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_3_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_4_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_5_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_6_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_7_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_8_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_9_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_10_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_11_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_12_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_13_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_14_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_15_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_16_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_17_ID" class="Bar_Data_Class">
                        12
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->


            <table id="PortDown_Sector_ID" class="PortDown_Sector_Class">
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_Title_ID" class="PortDown_Data_Class" colspan="6">
                        Port Down
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_0_ID" class="PortDown_Data_Class">
                        2
                    </td>
                    <td id="PortDown_1_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_2_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_3_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_4_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_5_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_6_ID" class="PortDown_Data_Class">
                        2
                    </td>
                    <td id="PortDown_7_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_8_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_9_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_10_ID" class="PortDown_Data_Class">
                        6
                    </td>
                    <td id="PortDown_11_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>
                <tr id="PortDown_Row_ID" class="PortDown_Row_Class">
                    <td id="PortDown_12_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_13_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_14_ID" class="PortDown_Data_Class">
                        4
                    </td>
                    <td id="PortDown_15_ID" class="PortDown_Data_Class">
                        7
                    </td>
                    <td id="PortDown_16_ID" class="PortDown_Data_Class">
                        7
                    </td>
                    <td id="PortDown_17_ID" class="PortDown_Data_Class">
                        8
                    </td>
                </tr>

            </table>


            <!--------------------------------------------------------------------------->

            <table id="PortUp_Sector_ID" class="PortUp_Sector_Class">
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_Title_ID" class="PortUp_Data_Class" colspan="6">
                        Port Up
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_0_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_1_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_2_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_3_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_4_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_5_ID" class="PortUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_6_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_7_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_8_ID" class="PortUp_Data_Class">
                        5
                    </td>
                    <td id="PortUp_9_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_10_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_11_ID" class="PortUp_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_12_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_13_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_14_ID" class="PortUp_Data_Class">
                        5
                    </td>
                    <td id="PortUp_15_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_16_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_17_ID" class="PortUp_Data_Class">
                        16
                    </td>
                </tr>
                <tr id="PortUp_Row_ID" class="PortUp_Row_Class">
                    <td id="PortUp_18_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_19_ID" class="PortUp_Data_Class">
                        4
                    </td>
                    <td id="PortUp_20_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_21_ID" class="PortUp_Data_Class">
                        6
                    </td>
                    <td id="PortUp_22_ID" class="PortUp_Data_Class">
                        8
                    </td>
                    <td id="PortUp_23_ID" class="PortUp_Data_Class">
                        16
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->

            <table id="LibertyDown_Sector_ID" class="LibertyDown_Sector_Class">
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_Title_ID" class="LibertyDown_Data_Class" colspan="6">
                        Liberty Down
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_0_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_1_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_2_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_3_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_4_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_5_ID" class="LibertyDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_6_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_7_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_8_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_9_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_10_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_11_ID" class="LibertyDown_Data_Class">
                        12
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_12_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_13_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_14_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_15_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_16_ID" class="LibertyDown_Data_Class">
                        6
                    </td>
                    <td id="LibertyDown_17_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_18_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_19_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_20_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_21_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_22_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_23_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
                </tr>
                <tr id="LibertyDown_Row_ID" class="LibertyDown_Row_Class">
                    <td id="LibertyDown_24_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_25_ID" class="LibertyDown_Data_Class">
                        2
                    </td>
                    <td id="LibertyDown_26_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_27_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_28_ID" class="LibertyDown_Data_Class">
                        4
                    </td>
                    <td id="LibertyDown_29_ID" class="LibertyDown_Data_Class">
                        7
                    </td>
                </tr>
            </table>


            <!--------------------------------------------------------------------------->


            <table id="LibertyUp_Sector_ID" class="LibertyUp_Sector_Class">
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_Title_ID" class="LibertyUp_Data_Class" colspan="6">
                        Liberty Up
                    </td>
                </tr>
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_0_ID" class="LibertyUp_Data_Class">
                        2
                    </td>
                    <td id="LibertyUp_1_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_2_ID" class="LibertyUp_Data_Class">
                        5
                    </td>
                    <td id="LibertyUp_3_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_4_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_5_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                </tr>
                <tr id="LibertyUp_Row_ID" class="LibertyUp_Row_Class">
                    <td id="LibertyUp_6_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_7_ID" class="LibertyUp_Data_Class">
                        4
                    </td>
                    <td id="LibertyUp_8_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_9_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_10_ID" class="LibertyUp_Data_Class">
                        6
                    </td>
                    <td id="LibertyUp_11_ID" class="LibertyUp_Data_Class">
                        7
                    </td>
                </tr>
            </table>

            <!--------------------------------------------------------------------------->
        </div>
        <div id="Right_DIV_ID" class="Right_DIV_Class">
            <!--------------------------------------------------------------------------->










            <!--------------------------------------------------------------------------->
        </div>
        <div id="Bottom_DIV_ID" class="Bottom_DIV_Class">
            <!--------------------------------------------------------------------------->
            <div id="Reset_Button_ID" class="Reset_Button_Class">
                Reset
            </div>
            <!--------------------------------------------------------------------------->
        </div>
    </div>
</body>

</html>