<!DOCTYPE html>
<html>

<head>
    <title>Mr.Table</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../Resources/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body onresize=onResize() onload=onResize()>
    <div id="Master_DIV_ID" class="Master_DIV_Class">
        <div id="Left_DIV_ID" class="Left_DIV_Class">
            <!--------------------------------------------------------------------------->
            <table id="Bar_Sector_ID" class="Bar_Sector_Class">
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_Title_ID" class="Bar_Data_Class" colspan="6">
                        Bar
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_0_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_1_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_2_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_3_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_4_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_5_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_6_ID" class="Bar_Data_Class">
                        2
                    </td>
                    <td id="Bar_7_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_8_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_9_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_10_ID" class="Bar_Data_Class">
                        8
                    </td>
                    <td id="Bar_11_ID" class="Bar_Data_Class">
                        10
                    </td>
                </tr>
                <tr id="Bar_Row_ID" class="Bar_Row_Class">
                    <td id="Bar_12_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_13_ID" class="Bar_Data_Class">
                        4
                    </td>
                    <td id="Bar_14_ID" class="Bar_Data_Class">
                        6
                    </td>
                    <td id="Bar_15_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_16_ID" class="Bar_Data_Class">
                        7
                    </td>
                    <td id="Bar_17_ID" class="Bar_Data_Class">
                        12
                    </td>
                </tr>
            </table>
            <!--------------------------------------------------------------------------->




            <!--------------------------------------------------------------------------->






































            <!--------------------------------------------------------------------------->
        </div>
        <div id="Right_DIV_ID" class="Right_DIV_Class">
            <!--------------------------------------------------------------------------->









            
            <!--------------------------------------------------------------------------->
        </div>
        <div id="Bottom_DIV_ID" class="Bottom_DIV_Class">
            <!--------------------------------------------------------------------------->
            <div id="Reset_Button_ID" class="Reset_Button_Class">
                Reset
            </div>
            <!--------------------------------------------------------------------------->
        </div>
    </div>
</body>

</html>